.photoGallery {
  h1 {
    color: var(--yellow);
  }
}

.photos {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  width: auto;
  gap: 10px;
  max-width: 100%;
  flex-wrap: wrap;
  transform: rotate(-2deg);

  .photo {
    max-width: calc(100vw / 4);
    position: relative;
    display: flex;

    img {
      align-self: center;
      border-radius: 12px;
      height: 100%;
      width: 100%;
    }

    p {
      background: rgba(255, 255, 255, 0.75);
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 14px;
      margin-bottom: 0;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      width: 100%;
    }
  }
}

.button {
  /* Tweaked from https://www.joshwcomeau.com/animation/3d-button/ */
  position: relative;
  border: none;
  background: transparent;
  border-radius: 12px;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  flex: 1 1 0px;

  .shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsla(0, 0%, 100%, 0.99);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(0.3 0.7 0.4 0.1);
  }

  .edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: rgba(0, 0, 0, 0.25);
  }

  .front {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px 42px;
    border-radius: 12px;
    font-weight: 800;
    color: white;
    background: var(--dandelion);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(0.3 0.7 0.4 1);
  }

  &:hover {
    filter: brightness(102%);

    .front {
      transform: translateY(-6px);
      transition: transform 250ms cubic-bezier(0.3 0.7 0.4 1.5);
    }
  }

  &:active {
    .shadow {
      transform: translateY(1px);
      transition: transform 34ms;
    }

    .front {
      transform: translateY(-2px);
      transition: transform 34ms;
    }
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
